src/*.exe
src/spreadcoin
src/spreadcoind
src/test_spreadcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.spreadcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
spreadcoin-qt
SpreadCoin-Qt.app

# Unit-tests
Makefile.test
spreadcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
.cproject
.project

